<link rel="stylesheet" href="../assets/messenger/box.styl">
<div id="messenger-container" >
    <div class="window" >
        <div class="header">

            <div class="msg-header-img" style="background-image: url(https://nnimgt-a.akamaihd.net/transform/v1/crop/frm/silverstone-feed-data/1bb1a305-4f25-4085-a351-51e1dfc4d825.jpg/r0_0_800_600_w1200_h678_fmax.jpg)"></div>

            <div class="data-user">
                   <span>
            <i class="fa fa-close"></i>
               </span>
                <h1>Twoj stary</h1>
                <h2>Drogan sp z o.o.</h2>
                <h3>123-456-789</h3>

            </div>
        </div>
      <div class="message-window" >
           <div class="received-chats-img" style="background-image: url(https://nnimgt-a.akamaihd.net/transform/v1/crop/frm/silverstone-feed-data/1bb1a305-4f25-4085-a351-51e1dfc4d825.jpg/r0_0_800_600_w1200_h678_fmax.jpg)"></div>
            <p> Hi!! This is test message on chat</p>
            <span class="time">{{ "now"|date("m/d/Y") }}</span>

      </div>
        <div class="msg-bottom">
            <div class="input-group-append">
                           <span class="plus-icon">
                                 <i class="fa fa-plus-circle"></i>
                           </span>
                        <span class="input-group-text">

                        <i class="fa fa-paper-plane"></i>
                        </span>
            </div>
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Hello!Offer still valid?">
            </div>



        </div>
    </div>

   <div class="window" >
       <div class="header" >

           <div class="msg-header-img" style="background-image: url(https://www.headshotsprague.com/wp-content/uploads/2019/07/Headshots_Prague-emotional-portrait-of-a-smiling-entrepreneur-1.jpg)"></div>
           <div class="data-user">
                  <span>
            <i class="fa fa-close"></i>
               </span>
               <h1>Tomasz Kowalski</h1>
               <h2>FixTrans sp z o.o.</h2>
               <h3>phone number</h3>
           </div>

       </div>
       <div class="message-window" >
           <div class="received-chats-img" style="background-image: url(https://www.headshotsprague.com/wp-content/uploads/2019/07/Headshots_Prague-emotional-portrait-of-a-smiling-entrepreneur-1.jpg)"></div>
           <p> Hi!! Rocket is ready to start on Mars</p>
           <span class="time">{{ "now"|date("m/d/Y") }}</span>
       </div>
       <div class="msg-bottom">
           <div class="input-group-append">
                           <span class="plus-icon">
                                 <i class="fa fa-plus-circle"></i>
                           </span>
                        <span class="input-group-text">
                        <i class="fa fa-paper-plane"></i>
                        </span>
           </div>
           <div class="input-group">
               <input type="text" class="form-control" placeholder="Hello!Offer still valid?">
           </div>

       </div>
   </div>
   <div class="window" >
       <div class="header" >
           <div class="msg-header-img" style="background-image: url(https://ak.picdn.net/shutterstock/videos/19523383/thumb/3.jpg)"></div>
           <div class="data-user">
               <span>
            <i class="fa fa-close"></i>
               </span>
               <h1>Jan Nowak</h1>
               <h2>JakiśTrans sp z o.o.</h2>
               <h3>123-456-789</h3>

           </div>

       </div>
       <div class="message-window" ><div class="received-chats-img" style="background-image: url(https://ak.picdn.net/shutterstock/videos/19523383/thumb/3.jpg)"></div>
           <p> Hi!! Zaraz wypierdole Cie w kosmos</p>
           <span class="time">{{ "now"|date("m/d/Y") }}</span>
       </div>
       <div class="msg-bottom">
           <div class="input-group-append">
                           <span class="plus-icon">
                                 <i class="fa fa-plus-circle"></i>
                           </span>
                        <span class="input-group-text">
                        <i class="fa fa-paper-plane"></i>
                        </span>
           </div>
           <div class="input-group">
               <input type="text" class="form-control" placeholder="Hello!Offer still valid?">
           </div>
       </div>
   </div>
</div>